/*nvbar*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body{
  background-image: url(/docs/img/bd1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0; 
}
body::-webkit-scrollbar {
  display: none;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
li, a{
  font-weight: 800;
  font-size: 20px;
  color: grey;
  text-decoration: none;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1%;
}
.nav_title{
  display: flex;
  gap: 10px;
}
.nav_title a{
  font-size: 40px;
  font-weight: 800;
  font-style: normal;
  background: linear-gradient(to right,rgb(33, 88, 131), rgb(136, 189, 230), rgb(33, 88, 131));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav_link{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  padding-right: 40px;
}
.nav_link li{
  display: inline-block;
  padding: 0px 20px;
}
.nav_link li a{
  transition: all 0.3s ease 0s;
}
.nav_link li a:hover{
  background: linear-gradient(to right,rgb(33, 88, 131), rgb(136, 189, 230), rgb(33, 88, 131));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}




/*p1 style8*/
.about{
  position: relative;
  display: block;
}
.p1{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 50px 100px 30px 100px;
}
.info1 h1{
  background: linear-gradient(to right,rgb(33, 88, 131), rgb(136, 189, 230), rgb(33, 88, 131));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  font-weight: 800;
  text-align: center;
  margin: 40px 0 20px 0;
}
.info1 p{
  font-size: 30px;
  font-weight: 600;
  color: grey;
}
.info1 strong{
  font-weight: 1000;
  color: rgb(56, 56, 56);
}
.image img{
  height: 300px;
  width: 300px;
}




/*objective style*/
.obj{
  margin: 20px 0 80px 0;
}
.title{
  background: rgba(250, 249, 249, 0.811);
  padding: 20px 0 20px 0;
  box-shadow: grey 15px 15px 15px;
  margin-bottom: 40px;
}
.title h1{
  width: fit-content;
  margin: auto;
  background: linear-gradient(to right,rgb(33, 88, 131), rgb(136, 189, 230), rgb(33, 88, 131));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 800;
}
.obj-input{
  margin: 40px;
  color: grey;
  font-size: 30px;
}



/*p2 style*/
.p2{
  display: flex;
  gap: 20px;
  margin: 40px;
}
.info2{
  background-color: rgba(128, 128, 128, 0.168);
  border-radius: 40px;
  padding: 40px;
  max-width: 50%;
}
.info2 h1{
  background: linear-gradient(to right,rgb(33, 88, 131), rgb(136, 189, 230), rgb(33, 88, 131));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
}
.personal-info{
  display: flex;
  justify-content: center;
  gap: 17px;
  font-size: 30px;
  margin-top: 20px;
}
.personal-info p{
  font-size: 30px;
  color: grey;
}
.personal-info strong{
  color: rgb(56, 56, 56);
}
.info3{
  background-color: rgba(128, 128, 128, 0.168);
  border-radius: 40px;
  padding: 40px;
  max-width: 50%;
}
.info3 h1{
  background: linear-gradient(to right,rgb(33, 88, 131), rgb(136, 189, 230), rgb(33, 88, 131));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
}
.info3 p{
  font-size: 30px;
  color: grey;
}
.info3 strong{
  color: rgb(56, 56, 56);
}



/*p3 style*/
.p3{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.skills{
  background-color: rgba(128, 128, 128, 0.168);
  border-radius: 40px;
  padding: 40px;
  max-width: 50%;
}
.skills h1{
  background: linear-gradient(to right,rgb(33, 88, 131), rgb(136, 189, 230), rgb(33, 88, 131));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
}
.skills p{
  margin-top: 20px;
  font-size: 30px;
  color: grey;
}
.skills .fa-brands{
  font-size: 40px;
  background: linear-gradient(to right,rgb(33, 88, 131), rgb(136, 189, 230), rgb(33, 88, 131));
  background-clip: text;
  color: transparent;
}



/*link back style*/
.back{
  width: 100%;
  background: linear-gradient(to right,rgb(33, 88, 131), rgb(136, 189, 230), rgb(33, 88, 131)) ;
  text-align: center;
  margin-top: -10px;
  padding: 10px;
}
.back a{
  color: white;
}
.back:hover, .back a:hover{
  background: rgb(136, 189, 230);
  color: black;
}
