/*nvbar*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body{
  background-image: url(/docs/img/bd1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0; 
}
body::-webkit-scrollbar {
  display: none;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
li, a{
  font-weight: 800;
  font-size: 20px;
  color: grey;
  text-decoration: none;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1%;
}
.nav_title{
  display: flex;
  gap: 10px;
}
.nav_title a{
  font-size: 40px;
  font-weight: 800;
  font-style: normal;
  background: linear-gradient(to right,rgb(33, 88, 131), rgb(136, 189, 230), rgb(33, 88, 131));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav_link{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  padding-right: 40px;
}
.nav_link li{
  display: inline-block;
  padding: 0px 20px;
}
.nav_link li a{
  transition: all 0.3s ease 0s;
}
.nav_link li a:hover{
  background: linear-gradient(to right,rgb(33, 88, 131), rgb(136, 189, 230), rgb(33, 88, 131));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}




/*ttle*/
.title h2{
  width: fit-content;
  margin: auto;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  background: linear-gradient(to right,rgb(33, 88, 131), rgb(136, 189, 230), rgb(33, 88, 131)) ;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}



/*stacked-pics*/
.proj1{
  display: flex;
  margin: 50px 40px 50px 40px;
  gap: 50px;
}

.image-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 700px;
  height: 400px; 
  overflow: hidden;
  border: 2px solid #ccc; 
  border-radius: 10px;
}
.image-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.slider-image {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
}
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}
.left-btn {
  left: 10px;
}
.right-btn {
  right: 10px;
}
.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.projdesc1{
  width: 50%;
  height: 400px;
  padding: 25px;
}
.projdesc1 h1{
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(to right,rgb(33, 88, 131), rgb(136, 189, 230), rgb(33, 88, 131)) ;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projdesc1 p{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: grey;
}



/*link back style*/
.back{
  width: 100%;
  background: linear-gradient(to right,rgb(33, 88, 131), rgb(136, 189, 230), rgb(33, 88, 131)) ;
  text-align: center;
  margin-top: -10px;
  padding: 10px;
}
.back a{
  color: white;
}
.back:hover, .back a:hover{
  background: rgb(136, 189, 230);
  color: black;
}






